* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?ladscaoe");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

button {
  width: 100px;
  height: 40px;
}